<!-- Email signup -->
<section class="email-signup container">
  <h3>Get 10% off</h3>
  <form method="post" action="/contact#newsletter">
    <input type="email" name="contact[email]" placeholder="Enter your email">
    <button type="submit" class="btn">Subscribe</button>
  </form>
</section>
