<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div style="padding:28px 0; display:flex; align-items:center; justify-content:space-between;">
      <div class="footer-brand"><a href="/">{{ shop.name }}</a></div>
      <div class="footer-copy">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</div>
    </div>
  </div>
</footer>
